<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var a = [];
        function nextPage(){
           var x = $("form").serializeArray();
            $.each(x, function(i, field){
      a.push(field.value);

    });
            console.log('entering ajax run');
            var xhttp=new XMLHttpRequest();
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState===XMLHttpRequest.DONE && xhttp.status===200){
                    console.log(xhttp.responseText);
                    var data=JSON.parse(xhttp.responseText);
                    if(data.url!==""){
                       $.post('/scorecounter', {a:a});
                        window.location.replace(data.url);
                    }
                    document.getElementById("qno").innerHTML=data.c.index;
                    document.getElementById("qno").className=data.c.index;
                    document.getElementById("question").innerHTML=data.c.question;
                    document.getElementById("a1").innerHTML=data.c.a;
                    document.getElementById("b1").innerHTML=data.c.b;
                    document.getElementById("c1").innerHTML=data.c.c;
                    document.getElementById("d1").innerHTML=data.c.d;
                }
            };

            xhttp.open("GET","/pageChange",true);
            xhttp.send();
            console.log('leaving ajax run');
           
        }
    </script>
</head>
<body>
    <h1>question paper</h1>

  <form action="" id="myform">
      <div id="finputs">
           <label name="qno" id="qno">1) </label>
            <label id="question"><%= qs.question %> </label><br>
            <label><input type="radio" name="op" value="a" id="a" checked >a)<span id="a1"><%= qs.a %> </span><br></label>
            <label><input type="radio" name="op" value="b" id="b"  >b)<span id="b1"><%= qs.b %> </span><br></label>
            <label><input type="radio" name="op" value="c" id="c"  >c)<span id="c1"><%= qs.c %> </span><br></label>
            <label><input type="radio" name="op" value="d" id="d"  >d)<span id="d1"><%= qs.d %> </span><br></label>
      </div> 
    </form>    
    <div id="fbuttons">
        <button id="np" onclick="nextPage()">next</button>
      </div> 
</body>
</html>