<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

        function nextPage(){
            console.log('entering ajax run');
            var xhttp=new XMLHttpRequest();
            xhttp.onreadystatechange=()=>{
                if(xhttp.readyState===XMLHttpRequest.DONE && xhttp.status===200){
                    console.log(xhttp.responseText);
                    var data=JSON.parse(xhttp.responseText);
                    if(data.url!==""){
                        window.location.replace(data.url);
                    }
                    //document.getElementById("p1").innerHTML=data.c.question;
                    document.getElementById("question").innerHTML=data.c.question;
                    document.getElementById("a1").innerHTML=data.c.a;
                    document.getElementById("b1").innerHTML=data.c.b;
                    document.getElementById("c1").innerHTML=data.c.c;
                    document.getElementById("d1").innerHTML=data.c.d;
                }
            };

            xhttp.open("GET","/pageChange",true);
            xhttp.send();
            console.log('leaving ajax run');
           
        }
    </script>
</head>
<body>
    <h1>question paper</h1>

  <!-- <form action="" id="myform" method="POST"> -->
      <div id="finputs">
           <!-- <p id="p1">content</p> -->
            <label id="question"><%= qs.question %> </label><br>
            <input type="radio" name="op" id="a">a)<span id="a1"><%= qs.a %> </span><br> 
            <input type="radio" name="op" id="b">b)<span id="b1"><%= qs.b %> </span><br>
            <input type="radio" name="op" id="c">c)<span id="c1"><%= qs.c %> </span><br>
            <input type="radio" name="op" id="d">d)<span id="d1"><%= qs.d %> </span><br>

            
           
            <!-- <input type="submit" value="submit"> -->
      </div> 
      <div id="fbuttons">
        <button onclick="nextPage()">next</button>
      </div> 
    <!-- </form>     -->

</body>
</html>